.profile-pic{
  border-radius: 50%;
  width: 8em;
}
.pic-preview{
  max-width:8em;
  max-height:8em;
}
.post-pic{
  max-width:14em;
  max-height:14em;
}
.profile-pic-sm{
  border-radius: 50%;
  width: 4em;
}
.home-logo{
  width: 8em;
  top:50%;
  position: relative;
  cursor: pointer;
}
.banner-pic{
  min-width: 100%;
}
.blog-tease{
  width:80%;
  cursor: pointer;
}

.blog-main-img{
  max-height:85vh;
  border-radius:5px;
}

.blog-dyptich{
  max-height: 85vh;
  max-width:45vw;
  border-radius:5px;
}

.calculator-icon{
  max-width:55%;
  border-radius:5px;
}

.mobile-calculator-icon{
  max-width: 7.5em;
  max-height:5em;
  border-radius:5px;
}


.gallery-col{
  position: relative;
}

.gallery-col:hover{
    filter: brightness(80%);
}

.gallery-label{
  display: none;
}
.gallery-col:hover .gallery-label{
  position: absolute;
  display: block;
  font-family: roamingFont;
  font-size: 2em;
  color: #ebeae6;
  z-index: 16;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.blog-header-wrapper{

  display: flex;
      justify-content: center;
      align-items: center;
}
.blog-label{
  position: absolute;
  display: block;
  font-family: roamingFont;
  font-size: calc((6 - 1) * 1.2vw + 1em);
  color: #ebeae6;
  z-index: 16;



}
.blog-sub-label{
  position: absolute;
  display: block;
  font-family: roamingFont;
  font-size: calc((2 - 1) * 1.2vw + 1em);
  margin-top:calc((8 - 1) * 1.2vw + 1em);
  color: #ebeae6;
  z-index: 16;



}
